body {
    font-family: "Roboto", sans-serif;
}
.head-font {
    font-family: "Space Grotesk", sans-serif;
}
a {
    text-decoration: none;
}

#details li {
    padding: 10px 0;
}
#details li + li {
    border-top: 1px solid #e5e7eb;
}

#table-body td {
    padding: 0.5rem;
    border: solid 1px #e5e7eb;
}
